/* Plain HTML Version */
form.fivestar-widget {
  display: block;
  clear: both;
}
form.fivestar-widget select,
form.fivestar-widget input {
  margin: 0;
}

/* Combo Static and Rate Widget */
.fivestar-combo-stars .fivestar-static-form-item {
  float: left; /* LTR */
  margin-right: 40px; /* LTR */
  margin-left: 40px; /* LTR */
}

.fivestar-combo-stars .fivestar-form-item {
  float: left; /* LTR */
}

/* Fivestar form items */
.fivestar-static-form-item .form-item,
.fivestar-form-item .form-item {
  margin: 0;
}

/* Static View-only Star Version */
div.fivestar-widget-static {
  display: block;
}

div.fivestar-widget-static br {
  clear: left; /* LTR */
}

div.fivestar-widget-static .star {
  float: left; /* LTR */
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  background: url(../widgets/default/star.gif) no-repeat 0 0; /* LTR */
}

div.fivestar-widget-static .star span.on {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../widgets/default/star.gif) no-repeat 0 -32px; /* LTR */
}

div.fivestar-widget-static .star span.off {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../widgets/default/star.gif) no-repeat 0 0; /* LTR */
}

/* Javascript Star Version */
div.fivestar-widget {
  display: block;
}

div.fivestar-widget .cancel,
div.fivestar-widget .star {
  float: left; /* LTR */
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-indent: -999em;
}
div.fivestar-widget .cancel,
div.fivestar-widget .cancel a {
  text-decoration: none;
  background: url(../widgets/default/delete.gif) no-repeat 0 -16px; /* LTR */
}

div.fivestar-widget .star,
div.fivestar-widget .star a {
  text-decoration: none;
  background: url(../widgets/default/star.gif) no-repeat 0 0; /* LTR */
}

div.fivestar-widget .cancel a,
div.fivestar-widget .star a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position: 0 0; /* LTR */
}

div.fivestar-widget div.on a {
  background-position: 0 -16px; /* LTR */
}
div.fivestar-widget div.hover a,
div.rating div a:hover {
  background-position: 0 -32px; /* LTR */
}
form.fivestar-widget div.description {
  margin-bottom: 0;
}

html.js .fivestar-submit {
  display: none;
}

.fivestar-combo-stars .form-type-fivestar .form-item {
  float: left;
}
